input[type="text"] {
  border: solid 1px var(--primary-color);
  padding: 10px;
  border-radius: 8px;
  margin-right: 4px;
  margin-left: 4px;
  display: inline-block;
  width: 30%;
}

@media (min-width: 500px) and (max-width: 768px) {
  input[type="text"] {
      width: 70%;
  }   
}

.button {
  padding: 10px;
  border: solid 1px var(--primary-color);
  background: var(--primary-color);
  color: white;
  border-radius: 8px;
}

.button:disabled {
  border: solid 1px var(--secondary-color);
  background: var(--secondary-color);
}

.permission {
  margin-left: 8px;
}

.permissionMissing {
  margin-left: 8px;
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: red;
}

div.bag-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

div.bag-row > div {
  margin-left: 6px;
  margin-right: 6px;
}

.bag-info {
  width: 48px;
}

section.row {
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  gap: 32px;
}

table {
  border-collapse: collapse;
}

th {
  background-color: var(--primary-color);
  color: white;
}

td, th {
  padding: 6px;
}

td.align-right {
  text-align: right;
}

tr:nth-child(even) {
  background-color: var(--accent-color);
}

tr:hover {
  background-color: var(--shadow-color);
}

.bag-grid {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 24px;
  row-gap: 12px;
  justify-content: space-around;
}

.unused-bags {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

#subheader {
  text-align: center;
  background-color: var(--primary-color);
  color: white;
  font-weight: bold;
  padding: 6px;
}