<section>
  <form [formGroup]="apiKeyForm" (ngSubmit)="applyApiKey()">
    <!-- <button (click)="toggleApiKeyInfo()">&#8505;</button> TODO: excempt from submit, without moving out of form (forces newline) -->
    <span class="button" (click)="toggleApiKeyInfo()">&#8505;</span>
    <input type="text" placeholder="API Key" formControlName="apiKey"/>
    <button type="submit" class="button" [disabled]="!apiKeyForm.valid || apiKeyForm.value.apiKey === bagsService.apiAccessToken()">Apply</button>
  </form>
  @if(showApiKeyInfo) {
    <p>
      Unsure what an API key is or how to create one?<br>
      <a href="https://wiki.guildwars2.com/wiki/API:API_key">https://wiki.guildwars2.com/wiki/API:API_key</a>
    </p>
    <p>
      Required permissions:
      @for(permission of bagsService.requiredApiKeyPermissions; track $index) {
        @if(!bagsService.apiPermissions().includes(permission)) {
          <span class="permissionMissing">{{permission}}</span>
        } @else {
          <span class="permission">{{permission}}</span>
        }
      }
    </p>
  }
</section>
<section class="row">
  <div>
    <table>
      <thead>
        <tr>
          <th>Character</th>
          <th>Used Slots</th>
          <th>Equipped Bags</th>
        </tr>
      </thead>
      <tbody>
        @if(bagsService.getCharacters() == []) {
          loading character data
        }
        @for(character of bagsService.getCharacters(); track $index) {
          <tr>
            <td>{{ character.name }}</td>
            <td>{{ character.usedInventorySlots() }} / {{ character.totalInventorySlots() }}</td>
            <td>
              <div class="bag-row">
              @for(bag of character.equippedBags; track $index) {
                <div class="bag-info">
                  @if (bag !== null) {
                    <app-equipped-bag [bag]="bag"/>
                  } @else {
                    <app-empty-bag-slot />
                  }
                </div>
              }
              </div>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
  <div class="unused-bags">
    <div id="subheader">Available Bags</div>
    <div class="bag-grid">
      @for (bag of bagsService.getUnusedBags(); track $index) {
        <app-unused-bag [bag]="bag" />
      }
    </div>
  </div>
  <div>
    <p>Placeholder for available Bag Slot Expansions</p>
  </div>
</section>
