.bag-icon {
    height: 64px;
    width: 100%;
    object-fit: scale-down;
    border-radius: 6px;
}

div.bag {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 4px;
}

div.info {
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 8px;
}

div.details {
    display: flex;
    flex-direction: column;
    gap: 4px;
}