.bag-icon {
  height: 64px;
  width: 100%;
  object-fit: scale-down;
  border-radius: 6px;
}

div.bag {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 4px;
  border: 1px solid;
  border-color: var(--primary-color);
  border-radius: 8px;
  padding: 6px;
}

div.info {
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 12px;
}

div.details {
  display: grid;
  grid-template-columns: repeat(2, auto);
  column-gap: 12px;
  row-gap: 6px;
}

span.descriptor {
  font-weight: bold;
}