.item-icon-placeholder {
    height: 63px;
    width: 63px;
    border: 1px solid;
    border-radius: 8px;
    background-color: #c9c9c9;
}

div.item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.item > div {
    margin-top: 2px;
    margin-bottom: 2px;
}