/* * {
  margin: 0;
  padding: 0;
} */

body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

:root {
  --primary-color: #e65c00;
  --secondary-color: #ff944d;
  --accent-color: #e8e7fa;
  --shadow-color: #e8e8e8e8;
}
