name: Build and deploy angular project

on:
  push:
    branches: [ "master" ]
    paths-ignore:
      - '**.md'
      - '.gitignore'
      - '.github/**'
      - '.vscode/**'
  pull_request:
    branches: [ "master" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 15

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          token: {{ secrets.DEPLOY }}
          persist-credentials: true
      - name: Set up node
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: 'npm'
          cache-dependency-path: package-lock.json
      - name: Install deps
        run: npm ci
      - name: Build project
        run: |
          npm run build -- \
            --configuration production \
            --base-href https://gnush.github.io/gw2-bag-buddy/ \
            --output-hashing none
      - name: Commit to gh_page branch
        run: |
          git config --global user.name "${{ github.actor }}"
          git config --global user.email "${{ github.actor }}@users.noreply.github.com"

          git checkout gh_page
          cp dist/gw2-bag-buddy/browser/* .
          
          git add .
          # check if changes have been added
          if [ -z "$(git status | grep 'nothing to commit')" ]; then
            git commit -m 'deploy page'
            git push
          fi