.bag-icon {
    height: 32px;
    width: 100%;
    object-fit: scale-down;
    border-radius: 6px;
}

div.bag {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.bag > div {
    margin-top: 0px;
    margin-bottom: 2px;
}